# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Simon\Documents\software_engineering\I\02\03_training\01_projekte\02_airbus_a350\02_abgabe\tail_navigation_light\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
